<script>
	document.getElementsByTagName('title')[0].innerHTML = "Our Projects | Mad Splash!";
</script>

<section id="HBIG">
	<h1>PROJECTS</h1>
	
	<img src="../Resources/Images/General/CC3.png" style="position: absolute; right: 22px; top: 16px; float: right;" />
	<img src="../Resources/Images/General/Batty1.png" style="position: absolute; right: 200px; top: 4px; float: right;" />
</section>

<section id="body">
	<div style="width: 100%; margin-bottom: 4px; height: 1px;">&nbsp;</div>
	
	<?php
		$display->categoryNav();
	?>
	
	<section id="leftColumn" style="padding: 4px 12px;">
		<h1>Mad Splash Projects</h1>
		
		<?php
			if(!empty($_GET['type'])) {
				echo '<div style="margin-bottom: 18px;">
						<h2>' . $_GET['type'] . 'S</h2>';
				$display->Projects($_GET['type']);
				echo '</div>';
			} else {
				echo '<div style="margin-bottom: 18px;">
						<h2>Games</h2>';
				$display->Projects('game');
				echo '</div>';
					
				echo '<div style="margin-bottom: 18px;">
						<h2>Books</h2>';
				$display->Projects('book');
				echo '</div>';
				
				echo '<div style="margin-bottom: 18px;">
						<h2>Shows</h2>';
				$display->Projects('show');
				echo '</div>';
			}
		?>
	
	</section>
	
	<section id="rightColumn2" style="margin-top: 8px;">
		<section>
			<h1>Free Stuffs</h1>
			<?php
				$display->daPromos();
			?>
		</section>
		
		<section>
			<h1>What's our goal?</h1>
			<p style="padding: 0px 6px;">
				Our goal as a new entertainment studio is to bring to you the very best quality we can create. We're a small ragtag team of newbies striving to breath new life into online entertainment. <br /><br />
				Our partners SetCraft Productions and Phoenix Gaming help make us content, which we deliver to you.
			</p>
		</section>
	</section>
	
	<div class="clear"> </div>
</section>